/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
     /* 
     font-family: 'Montserrat', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif; 
     */
}


/******************************************
/* LAYOUT
/*******************************************/

.navbar {
     height: 45px;
     background-color: black;
     border-bottom: 1px solid white;
     overflow: hidden;
     display: flex;
     font-family: 'Poppins', sans-serif;
     color: white;
     align-items: center;
     justify-content: center;
}

nav a {
     border-right: 1px solid white;
     position: relative;
     display: flex;
     align-items: center;
}

#logo {
     padding-right: 15px;
     margin-left: 15px;
}

#logo img {
     height: auto;
     width: 100px;
     padding-top: 2px;
}

#sign-in {
     height: 100%;
     padding: 0 110px 0 15px;
     font-size: 1.5rem;
}

#sign-in-text {
     position: absolute;
     left: 45px;
}

#sign-in i {
     padding-right: 5px;
}

i {
     font-size: 2.2rem;
}

#main-nav {
     display: flex;
     height: 100%;
}

.nav-entry {
     height: 100%;
     padding: 0 25px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.fa-caret-down {
     margin-left: 10px;
     padding-bottom: 3px;
}

#searchbar {
     padding-right: 20px;
}
#searchbar i {
     padding: 0 10px 0 15px;
     
}
/* link styling */
a,
a:link,
a:visited,
a:hover,
a:active {
     text-decoration: none;
     color: white;
}

@media (max-width: 1433px) {
     .nav-entry {
          flex-grow: 1;
          padding: 0;
     }
     #main-nav {
          width: 62%;
     }
}

@media (max-width: 1278px) {
     #nav-culture,
     #nav-future {
          display: none;
     }
     #main-nav {
          width: 50%;
     }
}

@media (max-width: 1000px) {
     #nav-travel {
     display: none;
     }
     #main-nav {
          width: 60%;
     } 
     #sign-in-text {
          display: none;
     }
     #sign-in {
          padding: 0 10px 0 15px;
     }
}

@media (max-width: 870px) {
     #nav-more {
          display: none;
     }
}

@media (max-width: 790px) {
     #nav-worklife {
          display: none;
     }
}

@media (max-width: 653px) {
     #nav-reel {
          display: none;
     }
}

@media (max-width: 600px) {
     #nav-sport {
          display: flex;
     }
     #main-nav {
          width: 60%;
     }
     * {
          font-size: 12px;
     }
     nav {
          height: 30px;
     }
     i {
          font-size: 15px;
     }
     #logo img {
          height: auto;
          width: 75px;
          padding-top: 2px;
     }
     #searchbar {
          display: none;
     }
     }
     
#title-headline {
     background-color: white;
     padding: 10px 15px;
     display: flex;
     justify-content: center;

}

.title {
     font-size: 40px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
